<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/customer/layout/index :: content(~{::body},~{::title})}">

<head>
    <title>404 - Không tìm thấy</title>
</head>

<body>
    <section class="error-part">
        <div class="container">
            <h1>404 | Không tìm thấy</h1>
            <img class="img-fluid" src="/images/error.png" alt="error">
            <h3>Rất tiếc! Trang này không thể được tìm thấy.</h3>
            <p>Dường như không có gì được tìm thấy tại địa chỉ này.</p>
            <a href="/user/home">Quay về trang chủ</a>
        </div>
    </section>
</body>
</html>
