<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/customer/layout/index :: content(~{::body},~{::title})}">

<head>

<title>Vocher khuyến mãi</title>
</head>

<body ng-controller="giohang-controller">
	<section class="inner-section single-banner"
		style="background: url(images/single-banner.jpg) no-repeat center;">
		<div class="container">
			<h2>Voucher</h2>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="user/home">Trang chủ</a></li>
				<li style="margin:0px 1em 0px 1em;" >/</li>
				<li >Voucher</li>
			</ol>
		</div>
	</section>

	<section class="inner-section offer-part" >
		<div class="container" ng-controller ="voucher-controller">
			<div class="row justify-content-center" >
				<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="voucher in vouchers">
					<div class="offer-card">
						<a href="#"><img src="/images/offer/{{voucher.hinh}}" alt="offer"></a>
						<div class="offer-div">
							<h5 class="offer-code">{{voucher.maKhuyenMai}}</h5>
							<button >Copy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>