<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="template" content="greeny">
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template">
    <meta name="keywords"
        content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
    <title th:text="${mix + ' - Bee Maket'}"></title>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/fonts/icofont/icofont.min.css}">	
    <link rel="stylesheet" th:href="@{/fonts/fontawesome/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/venobox/venobox.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/slickslider/slick.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/niceselect/nice-select.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    
</head>

<body>

    <div th:insert="~{/home/navbar-index.html::navbar}"></div>
    <div th:include="~{/cart/__${mix}__.html}"></div>
    
    <script th:src="@{vendor/bootstrap/jquery-1.12.4.min.js}"></script>
    <script th:src="@{vendor/bootstrap/popper.min.js}"></script>
    <script th:src="@{vendor/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{vendor/countdown/countdown.min.js}"></script>
    <script th:src="@{vendor/niceselect/nice-select.min.js}"></script>
    <script th:src="@{vendor/slickslider/slick.min.js}"></script>
    <script th:src="@{vendor/venobox/venobox.min.js}"></script>
    <script th:src="@{js/nice-select.js}"></script>
    <script th:src="@{js/countdown.js}"></script>
    <script th:src="@{js/accordion.js}"></script>
    <script th:src="@{js/venobox.js}"></script>
    <script th:src="@{js/slick.js}"></script>
    <script th:src="@{js/main.js}"></script>
</body>

</html>