<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/layout :: content(~{::body},~{::title})}">

<head>

<title>Thêm sản phẩm</title>
<body ng-controller="sanphamAdmin-controller">

	<!-- Page Content-->
	<div class="page-content">
		<div class="container-fluid">
			<!-- Page-Title -->
			<div class="row">
				<div class="col-sm-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col">
								<h4 class="page-title">Thêm sản Phẩm</h4>
								<!-- 								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
									<li class="breadcrumb-item active">Form Elements</li>
								</ol> -->
							</div>
							<!--end col-->
							<div class="col-auto align-self-center">
								<a href="#" class="btn btn-sm btn-outline-primary"
									id="Dash_Date"> <span class="day-name" id="Day_Name">Today:</span>&nbsp;
									<span class="" id="Select_date">Jan 11</span> <i
									data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
								</a> <a type="button"
									class="btn btn-outline-secondary btn-square btn-skew ms-2"
									ng-click="create()"> <!-- Thêm lớp margin ms-2 --> 
									<span>Thêm Sản Phẩm</span>
								</a>
							</div>

							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end page-title-box-->
				</div>
				<!--end col-->
			</div>
			<!--end row-->
			<!-- end page title end breadcrumb -->


			<div class="row justify-content-center">
				<div class="col-lg-10 mx-auto">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">
								Thông tin sản phẩm <span class="badge bg-soft-success font-12">New</span>
							</h4>

							<div class="upload">
								<img id="previewImage" src="{{sanpham.hinhAnh}}"
									width="400" height="400" alt="">
								<div class="round mb-3">
									<input type="file" id="fileInput" onchange="previewImage()">
									<i class="fa fa-camera" style="color: #fff;"></i>
								</div>
							</div>

						</div>
						<!--end card-header-->

						<div class="card-body">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="tenSanPham"
									ng-model="sanpham.tenSanPham" placeholder="Tên Sản Phẩm">
								<label for="tenSanPham">Tên Sản Phẩm</label>
							</div>
							<div class="form-floating mb-3">
								<select class="form-select" id="loaiSanPham"
									ng-model="sanpham.loaiSanPham.maLoaiSanPham"
									aria-label="Floating label select example">
									<option value="" disabled selected>Vui lòng chọn loại
										sản phẩm</option>
									<option ng-repeat="lsp in loaiSanPhams"
										ng-value="lsp.maLoaiSanPham">{{lsp.tenLoaiSanPham}}</option>

								</select> <label for="floatingSelect">Loại sản phẩm</label>

							</div>
							<div class="form-floating mb-3">
								<select class="form-select" id="loaiSanPham"
									ng-model="sanpham.nhaCungCap.maNhaCungCap"
									aria-label="Floating label select example">
									<option value="" disabled selected>Vui lòng nhà cung
										cấp</option>
									<option ng-repeat="ncc in nhacungcap"
										ng-value="ncc.maNhaCungCap">{{ncc.tenNhaCungCap}}
										{{'- ' + ncc.ghiChu}}</option>

								</select> <label for="floatingSelect">Nhà cung cấp</label>
							</div>
							<div class="form-floating mb-3">
								<select class="form-select" id="donvitinh"
									ng-model="sanpham.donViTinh.maDonViTinh"
									aria-label="Floating label select example">
									<option value="" disabled selected>Vui lòng chọn đơn
										vị tính</option>
									<option ng-repeat="dvt in donvitinhs"
										ng-value="dvt.maDonViTinh">{{dvt.tenDonViTinh}}</option>

								</select> <label for="floatingSelect">Đơn Vị Tính</label>
							</div>
							<div class="form-floating mb-3">
								<input type="text" class="form-control" id="soLuong"
									placeholder="Số Lượng" ng-model="sanpham.soLuong"> <label
									for="soLuong">Số Lượng</label>
							</div>
						</div>
						<!--end card-body-->
					</div>
					<!--end card-->
				</div>
				<!--end col-->
				
			</div>
			<!--end row-->
			<div class="row">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Giá Tiền</h4>
						<p class="text-muted mb-0">
							A switch has the markup of a custom checkbox but uses the
							<code class="highlighter-rouge">.custom-switch</code>
							class to render a toggle switch. Switches also support the
							<code class="highlighter-rouge">disabled</code>
							attribute.
						</p>
					</div>
					<!--end card-header-->
					<div class="card-body">
						<div class="row">
							<div class="col-lg-4">
								<div class="form-floating mb-3">
									<input type="number" class="form-control" id="giaGoc"
										placeholder="Giá Gốc" ng-model="sanpham.giaGoc"> <label
										for="giaGoc">Giá Gốc</label>
								</div>
								<div class="form-floating mb-3">
									<input type="number" class="form-control" id="chietKhau"
										placeholder="Chiết khấu" ng-model="sanpham.chietKhauKH">
									<label for="floatingPassword">Chiết Khấu</label>
								</div>
							</div>
							<!--end col-->
<!-- 							<div class="col-lg-4">

								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="tienGiam"
										placeholder="Tiền giảm"
										ng-model="sanpham.giaGoc * sanpham.chietKhauKH / 100 | number">
									<label for="floatingPassword">Giá Tiền Giảm</label>
								</div>

								<div class="form-floating mb-3">
									<input type="text" class="form-control" id="giakhuyenmai"
										placeholder="Giá Khuyến Mãi"
										ng-model="sanpham.giaGoc - (sanpham.giaGoc * sanpham.chietKhauKH / 100) | number">
									<label for="floatingPassword">Giá Khuyến Mãi</label>
								</div>

							</div> -->
							<!--end col-->

							<div class="col-lg-4">
								<div class="row mb-3">
									<label class="col-md-3 my-1 form-label">Trạng Thái</label>
									<div class="col-md-10">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="trangThai"
												id="hoatdong" ng-value="true" ng-model="sanpham.trangThai">
											<label class="form-check-label" for="inlineRadio1">Hoạt
												Động</label>
										</div>
										<div class="form-check form-check-inline mb-3">
											<input class="form-check-input" type="radio" name="trangThai"
												id="tamngung" ng-value="false" ng-model="sanpham.trangThai">
											<label class="form-check-label" for="inlineRadio3">Tạm
												Ngưng</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												name="inlineRadioOptions" id="inlineRadio2" value="option2"
												disabled> <label class="form-check-label"
												for="inlineRadio2">Hết Hàng</label>
										</div>
									</div>
								</div>
								<div class="form-check form-switch form-switch-warning mb-3">
									<input class="form-check-input" type="checkbox" id="noiBat"
										ng-model="sanpham.noiBat" ng-checked="sanpham.noiBat">
									<label class="form-check-label" for="noiBat">Nổi Bật</label>
								</div>
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end card-body-->
				</div>
				<!--end card-->
				<div class="col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Mô Tả</h4>
							<p class="text-muted mb-0">For even more customization and
								cross browser consistency, use our completely custom form
								elements to replace the browser defaults. They’re built on top
								of semantic and accessible markup, so they’re solid replacements
								for any default form control.</p>
						</div>
						<!--end card-header-->
						<div class="card-body">
							<div class="general-label">
								<form class="form">

									<div class="mb-3 row">
										<label class="col-md-3 my-2 form-label">Checkboxes</label>


										<textarea id="moTa" name="moTa" ng-model="sanpham.moTa"></textarea>
										<script>
											// Khởi tạo CKEditor với tùy chọn cơ bản
											CKEDITOR.replace('moTa');
										</script>
									</div>
									<!--end row-->
								</form>
								<!--end form-->
							</div>
							<!--end general-->
						</div>
						<!--end card-body-->
					</div>
					<!--end card-->
				</div>
				<!-- end col -->

				<div class="col-xl-6">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Thông Tin</h4>
							<p class="text-muted mb-0">For even more customization and
								cross browser consistency, use our completely custom form
								elements to replace the browser defaults. They’re built on top
								of semantic and accessible markup, so they’re solid replacements
								for any default form control.</p>
						</div>
						<!--end card-header-->
						<div class="card-body">
							<div class="general-label">
								<form class="form">

									<div class="mb-3 row">
										<label class="col-md-3 my-2 form-label">Checkboxes</label>


										<textarea id="thongTin" name="thongTin"
											ng-model="sanpham.thongTin"></textarea>
										<script>
											// Khởi tạo CKEditor với tùy chọn cơ bản
											CKEDITOR.replace('thongTin');
										</script>
									</div>
									<!--end row-->
								</form>
								<!--end form-->
							</div>
							<!--end general-->
						</div>
						<!--end card-body-->
					</div>
					<!--end card-->
				</div>
				<!-- end col -->

			</div>
			<!-- end row -->

		
			<!--end row-->
			<button type="button mb-3"
				class="btn btn-outline-info btn-icon-circle btn-icon-circle-sm"
				id="add-column-btn">
				<i class="fas fa-plus"></i>
			</button>
			<br> <br>

		</div>
		<!-- container -->

		<footer class="footer text-center text-sm-start ">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			Dastone <span class="text-muted d-none d-sm-inline-block float-end">Crafted
				with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
			</span>
		</footer>
		<!--end footer-->
	</div>
	<!-- end page content -->
	</div>
	<!-- end page-wrapper -->

	<script>
		function previewImage() {
			var preview = document.getElementById('previewImage');
			var fileInput = document.getElementById('fileInput');
			var files = fileInput.files;

			if (files.length > 0) {
				var reader = new FileReader();
				reader.onload = function(e) {
					preview.src = e.target.result;
				};
				reader.readAsDataURL(files[0]);
			}
		}
	</script>
</body>

</html>