<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/admin/layout/layout :: content(~{::body},~{::title})}">

<head>

<title>Sản Phẩm đã nhập</title>
<body>

	<!-- Page Content-->
	<div class="page-content" ng-controller="phieunhap">
		<div class="container-fluid">
			<!-- Page-Title -->
			<div class="row">
				<div class="col-sm-12">
					<div class="page-title-box">
						<div class="row">
							<div class="col">
								<h4 class="page-title">Sản Phẩm Đã Nhập</h4>
								<!-- 								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript:void(0);">Dastone</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
									<li class="breadcrumb-item active">Form Elements</li>
								</ol> -->
							</div>
							<!--end col-->
							<div class="col-auto align-self-center">
								<a href="#" class="btn btn-sm btn-outline-primary"
									id="Dash_Date"> <span class="day-name" id="Day_Name">Today:</span>&nbsp;
									<span class="" id="Select_date">Jan 11</span> <i
									data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
								</a> <a href="#" class="btn btn-sm btn-outline-primary"> <i
									data-feather="download" class="align-self-center icon-xs"></i>
								</a>
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end page-title-box-->
				</div>
				<!--end col-->
			</div>
			<!--end row-->
			<!-- end page title end breadcrumb -->


			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">
								Thông tin sản phẩm <span class="badge bg-soft-success font-12">New</span>
							</h4>
						</div>
						<!--end card-header-->

						<div class="card-body">
							<div class="row">
								<div class="col-md-3" ng-repeat="item in ctphieunhaps">
									<div class="card">
										<div class="card-body">
											<div class="ribbon4 rib4-secondary">
												<span
													class="ribbon4-band ribbon4-band-secondary text-white text-center">
													Đã Nhập</span>
											</div>
											<!--end ribbon-->
											<img src="{{item.sanPham.hinhAnh}}" alt=""
												class="d-block mx-auto my-4" height="150">
											<div class="row my-4">
												<h4 class="product-name">{{item.sanPham.tenSanPham}}</h4>
												<h6 class="product-price">
													<span>Giá Nhập: {{item.giaNhap | number}} đ</span>
												</h6>
												<h6 class="product-price">
													<span>Số Lượng Nhập: {{item.soLuongNhap}} sản phẩm</span>
												</h6>
												<h6 class="product-price">
													<span>Tổng Tiền nhập: {{item.soLuongNhap *
														item.giaNhap | number}} đ</span>
												</h6>
											</div>
										</div>
										<!--end card-body-->
									</div>
									<!--end card-->
								</div>
								<!--end col-->
							</div>


						</div>
						
						<!--end card-body-->
					</div>
					<!--end card-->
				</div>
				<!--end col-->

			</div>
			<!--end row-->

			<footer class="footer text-center text-sm-start">
				&copy;
				<script>
					document.write(new Date().getFullYear())
				</script>
				Dastone <span class="text-muted d-none d-sm-inline-block float-end">Crafted
					with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
				</span>
			</footer>
			<!--end footer-->
		</div>
		<!-- end page content -->
	</div>
	</div>
	<!-- end page-wrapper -->
	<script>
		// Khởi tạo CKEditor với tùy chọn cơ bản
		CKEDITOR.replace('thongtin');
	</script>
	<script>
		// Khởi tạo CKEditor với tùy chọn cơ bản
		CKEDITOR.replace('mota');
	</script>
</body>


<!-- Mirrored from mannatthemes.com/dastone/default/forms-elements.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Nov 2023 06:54:37 GMT -->
</html>