.form-error{
	text-align: left;
	color: #BA313E;
	margin-bottom: 2%;
	font-size: 90%;
	text-shadow: 1px 1px 0 yellow;
}
.code-input {
	display: flex;
	justify-content: center;
}

.code-input input {
	width: 3em;
	text-align: center;
	margin: 0 8px;
	padding: 8px;
	font-size: 16px;
	border: 2px solid #000;
	border-radius: 5px;
}
.form-group .row>.col {
	margin-bottom: -5%;
}