<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="content(view, title)">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="template" content="greeny">
<meta name="title" content="greeny - Ecommerce Food Store HTML Template">
<meta name="keywords"
	content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online">
<title th:replace="${title}"></title>

<link rel="icon" href="/images/favicon.png">

<link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">
<link rel="stylesheet" href="/assets/fonts/icofont/icofont.min.css">
<link rel="stylesheet"
	href="/assets/fonts/fontawesome/fontawesome.min.css">
<link rel="stylesheet" href="/vendor/venobox/venobox.min.css">
<link rel="stylesheet" href="/vendor/slickslider/slick.min.css">
<link rel="stylesheet" href="/vendor/niceselect/nice-select.min.css">
<link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/user-auth.css">
<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/css/product-details.css">
<link rel="stylesheet" href="/css/faq.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="my-app">
	<div th:replace="~{/customer/layout/navbar-index}"></div>

	<div th:replace="${view}"></div>

	<div th:replace="~{/customer/layout/footer}"></div>

<!-- xử lý -->
	<script src="/banhang-js/sanpham.js"></script>
	<script src="/banhang-js/giohang.js"></script>
	<script src="https://cdn.ckeditor.com/4.17.0/standard/ckeditor.js"></script>
	<script src="/vendor/bootstrap/jquery-1.12.4.min.js"></script>
	<script src="/vendor/bootstrap/popper.min.js"></script>
	<script src="/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/vendor/countdown/countdown.min.js"></script>
	<script src="/vendor/niceselect/nice-select.min.js"></script>
	<script src="/vendor/slickslider/slick.min.js"></script>
	<script src="/vendor/venobox/venobox.min.js"></script>
	<script src="/js/nice-select.js"></script>
	<script src="/js/countdown.js"></script>
	<script src="/js/accordion.js"></script>
	<script src="/js/venobox.js"></script>
	<script src="/js/slick.js"></script>
	<script src="/js/main.js"></script>
	
	
</body>

</html>