<!-- giỏ hàng bắt đầu -->
<aside class="cart-sidebar">
	<div class="cart-header">
		<div class="cart-total">
			<i class="fas fa-shopping-basket"></i><span>Tổng số sản phẩm
				({{getTotalCartItemCount()}})</span>
		</div>
		<button class="cart-close">
			<i class="icofont-close"></i>
		</button>
	</div>
	<ul class="cart-list">
		<li class="cart-item" ng-repeat="item in cartItems">
			<div class="cart-media">
				<a href="#"><img
					ng-src="../images/product/{{item.sanPham.hinhAnh}}" alt="product"></a>
				<button ng-click="remove(item.maChiTietGH, item.sanPham.tenSanPham)"
					class="cart-delete">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
			<div class="cart-info-group">
				<div class="cart-info">
					<h6>
						<a href="product-single.html">{{item.sanPham.tenSanPham}}</a>
					</h6>
					<p>
						Giá:
						<del style="color: red;">{{item.sanPham.giaGoc | number}} đ</del>
						<span style="color: green;"> {{(item.sanPham.giaGoc -
							(item.sanPham.giaGoc * item.sanPham.chietKhauKH / 100)) |
							number}} đ</span>
					</p>
				</div>
				<div class="cart-action-group">
					<div class="product-action">
						<button class="action-minus" title="Quantity Minus"
							ng-click="decreaseQuantity(item)">
							<i class="icofont-minus"></i>
						</button>
						<input class="action-input" title="Quantity Number" type="number"
							name="quantity" ng-model="item.soLuong"
							ng-change="updateQuantity(item)">
						<button class="action-plus" title="Quantity Plus"
							ng-click="increaseQuantity(item)">
							<i class="icofont-plus"></i>
						</button>
					</div>
					<h6>{{((item.sanPham.giaGoc - (item.sanPham.giaGoc *
						item.sanPham.chietKhauKH / 100)) *item.soLuong) | number}} đ</h6>
				</div>
			</div>
		</li>

	</ul>
	<aside class="category-sidebar">
		<div class="category-header">
			<h4 class="category-title">
				<i class="fas fa-align-left"></i><span>categories</span>
			</h4>
			<button class="category-close">
				<i class="icofont-close"></i>
			</button>
		</div>
		<ul class="category-list">
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-vegetable"></i><span>vegetables</span></a>
				<ul class="dropdown-list">
					<li><a href="#">asparagus</a></li>
					<li><a href="#">broccoli</a></li>
					<li><a href="#">carrot</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-groceries"></i><span>groceries</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Grains & Bread</a></li>
					<li><a href="#">Dairy & Eggs</a></li>
					<li><a href="#">Oil & Fat</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-fruit"></i><span>fruits</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Apple</a></li>
					<li><a href="#">Orange</a></li>
					<li><a href="#">Strawberry</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-dairy-products"></i><span>dairy
						farm</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Egg</a></li>
					<li><a href="#">milk</a></li>
					<li><a href="#">butter</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-crab"></i><span>sea foods</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Lobster</a></li>
					<li><a href="#">Octopus</a></li>
					<li><a href="#">Shrimp</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-salad"></i><span>diet foods</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Salmon</a></li>
					<li><a href="#">Potatoes</a></li>
					<li><a href="#">Greens</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-dried-fruit"></i><span>dry
						foods</span></a>
				<ul class="dropdown-list">
					<li><a href="#">noodles</a></li>
					<li><a href="#">Powdered milk</a></li>
					<li><a href="#">nut & yeast</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-fast-food"></i><span>fast
						foods</span></a>
				<ul class="dropdown-list">
					<li><a href="#">mango</a></li>
					<li><a href="#">plumsor</a></li>
					<li><a href="#">raisins</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-cheers"></i><span>drinks</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Wine</a></li>
					<li><a href="#">Juice</a></li>
					<li><a href="#">Water</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-beverage"></i><span>coffee</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Cappuchino</a></li>
					<li><a href="#">Espresso</a></li>
					<li><a href="#">Latte</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-barbecue"></i><span>meats</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Meatball</a></li>
					<li><a href="#">Sausage</a></li>
					<li><a href="#">Poultry</a></li>
				</ul></li>
			<li class="category-item"><a class="category-link dropdown-link"
				href="#"><i class="flaticon-fish"></i><span>fishes</span></a>
				<ul class="dropdown-list">
					<li><a href="#">Agujjim</a></li>
					<li><a href="#">saltfish</a></li>
					<li><a href="#">pazza</a></li>
				</ul></li>
		</ul>
		<div class="category-footer">
			<p>
				All Rights Reserved by <a href="#">Mironcoder</a>
			</p>
		</div>
	</aside>
	<div class="mobile-menu">
		<a href="index.html" title="Home Page"><i class="fas fa-home"></i><span>Home</span></a>
		<button class="cate-btn" title="Category List">
			<i class="fas fa-list"></i><span>category</span>
		</button>
		<button class="cart-btn" title="Cartlist">
			<i class="fas fa-shopping-basket"></i><span>cartlist</span><sup>9+</sup>
		</button>
		<a href="wishlist.html" title="Wishlist"><i class="fas fa-heart"></i><span>wishlist</span><sup>0</sup></a><a
			href="compare.html" title="Compare List"><i class="fas fa-random"></i><span>compare</span><sup>0</sup></a>
	</div>
	
	<div class="cart-footer">
		<button class="coupon-btn">Bạn đã có mã giảm giá?</button>
		<form class="coupon-form">
			<input type="text" placeholder="Nhập mã giảm giá"
				ng-model="couponCode">
			<button ty ng-click="applyCoupon()">
				<span>Áp Dụng</span>
			</button>
		</form>
		<a class="cart-checkout-btn"><span class="checkout-label"
			ng-click="goToCheckout()">Tiến hành Thanh Toán</span><span
			class="checkout-price">{{getTotalCartPrice() | number}} </span></a>
	</div>
</aside>
<!-- giỏ hàng kết thúc -->
<div class="backdrop"></div>
<a class="backtop fas fa-arrow-up" href="#"></a>
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-5">
				<div class="header-top-welcome">
					<p>Welcome to Bee Market!</p>
				</div>
			</div>
			<div class="col-md-5 col-lg-3">
				<!--                     <div class="header-top-select"> -->
				<!--                         <div class="header-select"><i class="icofont-world"></i><select class="select"> -->
				<!--                                 <option value="english" selected>english</option> -->
				<!--                                 <option value="bangali">bangali</option> -->
				<!--                                 <option value="arabic">arabic</option> -->
				<!--                             </select></div> -->
				<!--                         <div class="header-select"><i class="icofont-money"></i><select class="select"> -->
				<!--                                 <option value="english" selected>doller</option> -->
				<!--                                 <option value="bangali">pound</option> -->
				<!--                                 <option value="arabic">taka</option> -->
				<!--                             </select></div> -->
				<!--                     </div> -->
			</div>
			<div class="col-md-7 col-lg-4">
				<ul class="header-top-list">
					<li><a href="/home/offer">offers</a></li>
					<li><a href="/home/faq">need help</a></li>
					<li><a href="/home/contact">contact us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header class="header-part">
	<div class="container">
		<div class="header-content">
			<div class="header-media-group">
				<button class="header-user">
					<img th:src="@{/images/user.png}" alt="user">
				</button>
				<a href="/user/home"><img th:src="@{/images/logo.png}"
					alt="logo"></a>
					
					
				<button class="header-src">
					<i class="fas fa-search"></i>
				</button>
			</div>
			<a href="/user/home" class="header-logo"><img
				th:src="@{/images/logo.png}" alt="logo"></a>


			<th:block
				th:if="${session.user == null and session.admin == null and session.superadmin == null}">
				<a th:href="@{/access/login}" class="header-widget"
					title="My Account"> <img th:src="@{/images/user.png}"
					alt="user"> <span>join</span>
				</a>
			</th:block>
			
			<th:block th:if="${session.user != null}" th:with="userImage=${session.image}">
				<th:block th:if="${userImage == null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"><img
						th:src="@{/images/user.png}" alt="user"> <span
						th:text="${session.user}"></span> </a>
				</th:block>
				<th:block th:if="${userImage != null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"
						th:if="${userImage != null}"> <!-- If userImage is not null, display the image and user information -->
						<img th:src="@{'/images/avatar/' + ${userImage}}" alt="user">
						<span th:text="${session.user}"></span>
					</a>
				</th:block>
			</th:block>

			<th:block th:if="${session.admin != null}"
				th:with="userImage=${session.image}">
				<th:block th:if="${userImage == null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"><img
						th:src="@{/images/user.png}" alt="user"> <span
						th:text="${session.admin}"></span> </a>
				</th:block>
				<th:block th:if="${userImage != null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"
						th:if="${userImage != null}"> <!-- If userImage is not null, display the image and user information -->
						<img th:src="@{'/images/avatar/' + ${userImage}}" alt="user">
						<span th:text="${session.admin}"></span>
					</a>
				</th:block>
			</th:block>


			<th:block th:if="${session.superadmin != null}" th:with="userImage=${session.image}">

				<th:block th:if="${userImage == null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"><img
						th:src="@{/images/user.png}" alt="user"> <span
						th:text="${session.superadmin}"></span> </a>
				</th:block>
				<th:block th:if="${userImage != null}">
					<a th:href="@{/home/home}" class="header-widget" title="My Account"
						th:if="${userImage != null}"> <!-- If userImage is not null, display the image and user information -->
						<img th:src="@{'/images/avatar/' + ${userImage}}" alt="user">
						<span th:text="${session.superadmin}"></span>
					</a>
				</th:block>
			</th:block>


			<form class="header-form">
				<input type="text" placeholder="Search anything...">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</form>
			<div class="header-widget-group">
				<a href="/cart/compare" class="header-widget" title="Compare List"><i
					class="fas fa-random"></i><sup>0</sup></a><a href="/cart/wishlist"
					class="header-widget" title="Wishlist"><i class="fas fa-heart"></i><sup>0</sup></a>
				<button class="header-widget header-cart" title="Cartlist">
					<i ng-controller='giohang-controller'
						class="fas fa-shopping-basket"></i><sup>{{getTotalCartItemCount()}}+</sup><span>total
						price<small>{{getTotalCartPrice() | number}}<b
							style="text-transform: lowercase;">đ</b></small>
					</span>
				</button>
			</div>
		</div>
	</div>
</header>
<nav class="navbar-part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="navbar-content">
					<ul class="navbar-list">
						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="">home</a>
							<ul class="dropdown-position-list">
								<li><a th:href="@{/home/home-grid}">Home grid</a></li>
								<li><a th:href="@{/home/home}">Home index</a></li>
								<li><a th:href="@{/home/home-classic}">Home classic</a></li>
								<li><a th:href="@{/home/home-standard}">Home standard</a></li>
								<li><a th:href="@{/home/home-category}">Home category</a></li>
							</ul></li>
						<li class="navbar-item dropdown-megamenu"><a
							class="navbar-link dropdown-arrow" href="#">shop</a>
							<div class="megamenu">
								<div class="container">
									<div class="row">

										<div class="col-lg-3">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">product pages</h5>
												<ul class="megamenu-list">
													<li><a href="/home/product-tab">product single tab</a></li>
													<li><a href="/home/product-grid">product single
															grid</a></li>
													<li><a href="/home/product-video">product single
															video</a></li>
													<li><a href="/home/product-simple">product single
															simple</a></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</div></li>
						<li class="navbar-item dropdown-megamenu"><a
							class="navbar-link dropdown-arrow" href="#">category</a>
							<div class="megamenu">
								<div class="container megamenu-scroll">
									<div class="row row-cols-5">
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">vegetables</h5>
												<ul class="megamenu-list">
													<li><a href="#">carrot</a></li>
													<li><a href="#">broccoli</a></li>
													<li><a href="#">asparagus</a></li>
													<li><a href="#">cauliflower</a></li>
													<li><a href="#">eggplant</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">fruits</h5>
												<ul class="megamenu-list">
													<li><a href="#">Apple</a></li>
													<li><a href="#">orange</a></li>
													<li><a href="#">banana</a></li>
													<li><a href="#">strawberrie</a></li>
													<li><a href="#">watermelon</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">dairy farms</h5>
												<ul class="megamenu-list">
													<li><a href="#">Butter</a></li>
													<li><a href="#">Cheese</a></li>
													<li><a href="#">Milk</a></li>
													<li><a href="#">Eggs</a></li>
													<li><a href="#">cream</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">seafoods</h5>
												<ul class="megamenu-list">
													<li><a href="#">Lobster</a></li>
													<li><a href="#">Octopus</a></li>
													<li><a href="#">Shrimp</a></li>
													<li><a href="#">Halabos</a></li>
													<li><a href="#">Maeuntang</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">diet foods</h5>
												<ul class="megamenu-list">
													<li><a href="#">Salmon</a></li>
													<li><a href="#">Avocados</a></li>
													<li><a href="#">Leafy Greens</a></li>
													<li><a href="#">Boiled Potatoes</a></li>
													<li><a href="#">Cottage Cheese</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">fast foods</h5>
												<ul class="megamenu-list">
													<li><a href="#">burger</a></li>
													<li><a href="#">milkshake</a></li>
													<li><a href="#">sandwich</a></li>
													<li><a href="#">doughnut</a></li>
													<li><a href="#">pizza</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">drinks</h5>
												<ul class="megamenu-list">
													<li><a href="#">cocktail</a></li>
													<li><a href="#">hard soda</a></li>
													<li><a href="#">shampain</a></li>
													<li><a href="#">Wine</a></li>
													<li><a href="#">barley</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">meats</h5>
												<ul class="megamenu-list">
													<li><a href="#">Meatball</a></li>
													<li><a href="#">Sausage</a></li>
													<li><a href="#">Poultry</a></li>
													<li><a href="#">chicken</a></li>
													<li><a href="#">Cows</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">fishes</h5>
												<ul class="megamenu-list">
													<li><a href="#">scads</a></li>
													<li><a href="#">pomfret</a></li>
													<li><a href="#">groupers</a></li>
													<li><a href="#">anchovy</a></li>
													<li><a href="#">mackerel</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">dry foods</h5>
												<ul class="megamenu-list">
													<li><a href="#">noodles</a></li>
													<li><a href="#">Powdered milk</a></li>
													<li><a href="#">nut & yeast</a></li>
													<li><a href="#">almonds</a></li>
													<li><a href="#">pumpkin</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div></li>
						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">Trang</a>
							<ul class="dropdown-position-list">
								<li><a th:href="@{/user/faq}">Câu hỏi thường gặp</a></li>
								<li><a th:href="@{/user/offerl}">Ưu đãi</a></li>
								<li><a th:href="@{/user/profile}">Hồ sơ của tôi</a></li>
								<li><a th:href="@{/user/about}">Về chúng tôi</a></li>
								<li><a th:href="@{/user/contact}">Liên hệ chúng tôi</a></li>
								<li><a th:href="@{/user/privacy}">Chính sách bảo mật</a></li>
								<li><a th:href="@{/user/error}">Lỗi 404</a></li>
								<!-- <li><a th:href ="@{/user/email_en}">Mẫu email</a></li> -->
								<!-- <li><a th:href ="@{/user/coming-soon}">Sắp có</a></li> -->
								<!-- <li><a href="/home/wallet">Ví của tôi</a></li> -->
							</ul></li>

						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">authentic</a>
							<ul class="dropdown-position-list">
								
								
								
								<th:block
									th:if="${session.user == null and session.admin == null and session.superadmin == null}">
									<li><a href="/access/login">Đăng nhập</a></li>
									<li><a href="/access/register">Đăng ký</a></li>
									<li><a href="/access/reset-password">Quên mật khẩu</a></li>
								</th:block>
								<th:block th:if="${session.user != null}">
									<li><a href="/access/change-password2">Đổi mật khẩu</a></li>
									<li><a th:href="@{/home/log-out}" class="">Đăng xuất</a></li>

								</th:block>

								<th:block th:if="${session.admin != null}">
									<li><a href="/access/change-password2">Đổi mật khẩu</a></li>
									<li><a th:href="@{/home/log-out}" class="">Đăng xuất</a></li>

								</th:block>

								<th:block th:if="${session.superadmin != null}">
									<li><a href="/access/change-password2">Đổi mật khẩu</a></li>
									<li><a th:href="@{/home/log-out}" class="">Đăng xuất</a></li>

								</th:block>

							</ul></li>
						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">blogs</a>
							<ul class="dropdown-position-list">
								<li><a href="/home/blog-grid">blog grid</a></li>
								<li><a href="/home/blog-standard">blog standard</a></li>
								<li><a href="/home/blog-details">blog details</a></li>
								<li><a href="/home/blog-author">blog author</a></li>
							</ul></li>
					</ul>
					<div class="navbar-info-group">
						<div class="navbar-info">
							<i class="icofont-ui-touch-phone"></i>
							<p>
								<small>call us</small><span>(+880) 183 8288 389</span>
							</p>
						</div>
						<div class="navbar-info">
							<i class="icofont-ui-email"></i>
							<p>
								<small>email us</small><span>support@example.com</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>