
<div class="backdrop"></div>
<a class="backtop fas fa-arrow-up" href="#"></a>
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-5">
				<div class="header-top-welcome">
					<p>Chào mừng bạn đến với Bee Market!</p>
				</div>
			</div>
			<div class="col-md-5 col-lg-3">
				<!--                     <div class="header-top-select"> -->
				<!--                         <div class="header-select"><i class="icofont-world"></i><select class="select"> -->
				<!--                                 <option value="english" selected>english</option> -->
				<!--                                 <option value="bangali">bangali</option> -->
				<!--                                 <option value="arabic">arabic</option> -->
				<!--                             </select></div> -->
				<!--                         <div class="header-select"><i class="icofont-money"></i><select class="select"> -->
				<!--                                 <option value="english" selected>doller</option> -->
				<!--                                 <option value="bangali">pound</option> -->
				<!--                                 <option value="arabic">taka</option> -->
				<!--                             </select></div> -->
				<!--                     </div> -->
			</div>
			<div class="col-md-7 col-lg-4">
				<ul class="header-top-list">
					<li><a href="/home/offer">Khuyến mãis</a></li>
					<li><a href="/home/faq">Trợ giúp</a></li>
					<li><a href="/home/contact">Liên hệ chúng tôi</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<header class="header-part">
	<div class="container">
		<div class="header-content">
			<div class="header-media-group">
				<button class="header-user">
					<img th:src="@{/images/user.png}" alt="user">
				</button>
				<a href="/home/home"><img th:src="@{/images/logo.png}"
					alt="logo"></a>
				<button class="header-src">
					<i class="fas fa-search"></i>
				</button>
			</div>
			<a href="/home/home" class="header-logo"><img
				th:src="@{/images/logo.png}" alt="logo"></a><a
				th:href="@{/access/login}" class="header-widget" title="Hồ sơ"><img
				th:src="@{/images/user.png}" alt="user"><span>Tài Khoản</span></a>
			<form class="header-form">
				<input type="text" placeholder="Tìm kiếm...">
				<button>
					<i class="fas fa-search"></i>
				</button>
			</form>
			<div class="header-widget-group">
				<a href="/cart/compare" class="header-widget" title="So Sánh"><i
					class="fas fa-random"></i><sup>0</sup></a><a href="/cart/wishlist"
					class="header-widget" title="Yêu Thích"><i class="fas fa-heart"></i><sup>0</sup></a>
				<button class="header-widget header-cart" title="Giỏ Hàng">
					<i class="fas fa-shopping-basket"></i><sup>9+</sup><span>Tổng
						thanh toán<small>$345.00</small>
					</span>
				</button>
			</div>
		</div>
	</div>
</header>
<nav class="navbar-part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="navbar-content">
					<ul class="navbar-list">
						<li class="navbar-item dropdown"><a class="navbar-link"
							th:href="@{/user/home}">Trang Chủ</a></li>
						<li class="navbar-item dropdown-megamenu"><a
							class="navbar-link dropdown-arrow" href="#">Cửa Hàng</a>
							<div class="megamenu">
								<div class="container">
									<div class="row">
										<div class="col-lg-4">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Trang Cửa Hàng</h5>
												<ul class="megamenu-list">
													<li><a href="/home/shop-1column">Tất cả sản phẩm</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Các hoạt động</h5>
												<ul class="megamenu-list">
													<li><a href="/cart/checkout">Giỏ Hàng</a></li>
													<li><a href="/cart/wishlist">Danh sách yêu thích</a></li>
													<li><a href="/cart/compare">Danh sách so sánh</a></li>
													<li><a href="/cart/orderlist">Lịch sử hóa đơn</a></li>
													<li><a href="/cart/invoice">Lịch sử thanh toán</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Khác</h5>
												<ul class="megamenu-list">
													<li><a href="/home/all-category">Tất cả danh mục</a></li>
													<li><a href="/home/brand-list">Danh sách thương
															hiệu</a></li>
													<li><a href="/home/brand-single">Thương hiệu đơn
															lẻ</a></li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</div></li>
						<li class="navbar-item dropdown-megamenu"><a
							class="navbar-link dropdown-arrow" href="#">Mặt Hàng</a>
							<div class="megamenu">
								<div class="container megamenu-scroll">
									<div class="row row-cols-5">
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Rau cải</h5>
												<ul class="megamenu-list">
													<li><a href="#">Cà rốt</a></li>
													<li><a href="#">Bông cải xanh</a></li>
													<li><a href="#">Măng tây</a></li>
													<li><a href="#">Bông cải trắng</a></li>
													<li><a href="#">Cà tím</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5class"megamenu-title">Trái cây
												</h5>
												<ul class="megamenu-list">
													<li><a href="#">Táo</a></li>
													<li><a href="#">Cam</a></li>
													<li><a href="#">Chuối</a></li>
													<li><a href="#">Dâu tây</a></li>
													<li><a href="#">Dưa hấu</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Nông trại sản xuất sữa</h5>
												<ul class="megamenu-list">
													<li><a href="#">Bơ</a></li>
													<li><a href="#">Phô mai</a></li>
													<li><a href="#">Sữa</a></li>
													<li><a href="#">Trứng gà</a></li>
													<li><a href="#">Kem</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Hải sản</h5>
												<ul class="megamenu-list">
													<li><a href="#">Tôm hùm</a></li>
													<li><a href="#">Bạch tuộc</a></li>
													<li><a href="#">Tôm</a></li>
													<li><a href="#">Mực hấp</a></li>
													<li><a href="#">Maeuntang</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Thực phẩm chế độ ăn kiêng</h5>
												<ul class="megamenu-list">
													<li><a href="#">Cá hồi</a></li>
													<li><a href="#">Bơ lý</a></li>
													<li><a href="#">Rau xanh lá</a></li>
													<li><a href="#">Khoai luộc</a></li>
													<li><a href="#">Phô mai bột lúa mạch</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Thức ăn nhanh</h5>
												<ul class="megamenu-list">
													<li><a href="#">Bánh mì kẹp</a></li>
													<li><a href="#">Sữa lắc</a></li>
													<li><a href="#">Bánh mì sandwich</a></li>
													<li><a href="#">Bánh rán</a></li>
													<li><a href="#">Pizza</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Đồ uống</h5>
												<ul class="megamenu-list">
													<li><a href="#">Cocktail</a></li>
													<li><a href="#">Nước ngọt có cồn</a></li>
													<li><a href="#">Champagne</a></li>
													<li><a href="#">Rượu</a></li>
													<li><a href="#">Xoài</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Thịt</h5>
												<ul class="megamenu-list">
													<li><a href="#">Bóp thối</a></li>
													<li><a href="#">Lạp xưởng</a></li>
													<li><a href="#">Thịt gia cầm</a></li>
													<li><a href="#">Gà</a></li>
													<li><a href="#">Bò</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Hải sản</h5>
												<ul class="megamenu-list">
													<li><a href="#">Cá bớp</a></li>
													<li><a href="#">Cá chẽm</a></li>
													<li><a href="#">Cá mú</a></li>
													<li><a href="#">Cá cơm</a></li>
													<li><a href="#">Cá thu</a></li>
												</ul>
											</div>
										</div>
										<div class="col">
											<div class="megamenu-wrap">
												<h5 class="megamenu-title">Thực phẩm khô</h5>
												<ul class="megamenu-list">
													<li><a href="#">Mì sợi</a></li>
													<li><a href="#">Sữa bột</a></li>
													<li><a href="#">Hạt và men men bia</a></li>
													<li><a href="#">Hạt hạnh nhân</a></li>
													<li><a href="#">Bí ngô</a></li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div></li>
						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">Trang</a>
							<ul class="dropdown-position-list">
								<li><a href="/home/faq">Câu hỏi thường gặp</a></li>
								<li><a href="/home/offerl">Ưu đãi</a></li>
								<li><a href="/home/profile">Hồ sơ của tôi</a></li>
								<li><a href="/home/wallet">Ví của tôi</a></li>
								<li><a href="/home/about">Về chúng tôi</a></li>
								<li><a href="/home/contact">Liên hệ chúng tôi</a></li>
								<li><a href="/home/privacy">Chính sách bảo mật</a></li>
								<li><a href="/home/coming-soon">Sắp có</a></li>
								<li><a href="/home/blank-page">Trang trống</a></li>
								<li><a href="/home/error">Lỗi 404</a></li>
								<li><a href="/home/email-template">Mẫu email</a></li>
							</ul></li>

						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">Xác thực</a>
							<ul class="dropdown-position-list">
								<li><a href="/access/login">Đăng nhập</a></li>
								<li><a href="/access/register">Đăng ký</a></li>
								<li><a href="/access/reset-password">Đặt lại mật khẩu</a></li>
								<li><a href="/access/change-password">Thay đổi mật khẩu</a></li>
							</ul></li>
						<li class="navbar-item dropdown"><a
							class="navbar-link dropdown-arrow" href="#">Bài viết</a>
							<ul class="dropdown-position-list">
								<li><a href="/home/blog-grid">Dạng lưới</a></li>
								<li><a href="/home/blog-standard">Bài viết chuẩn</a></li>
								<li><a href="/home/blog-details">Chi tiết bài viết</a></li>
								<li><a href="/home/blog-author">Tác giả bài viết</a></li>
							</ul></li>

					</ul>
					<div class="navbar-info-group">
						<div class="navbar-info">
							<i class="icofont-ui-touch-phone"></i>
							<p>
								<small>Liên Hệ</small><span>(+880) 183 8288 389</span>
							</p>
						</div>
						<div class="navbar-info">
							<i class="icofont-ui-email"></i>
							<p>
								<small>Email</small><span>support@example.com</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>